<!DOCTYPE html>
<html lang="ru">
<head>
    <title><%= error ? 'Ошибка авторизации' : 'Успешная авторизация' %></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
    <p>Session: <%- JSON.stringify(session) %></p>
    <p>Link: <%- JSON.stringify(link) %></p>
    <p>Error: <%- JSON.stringify(error) %></p>
</body>
</html>